body {
    background-color: rgb(153, 204, 255);
}
h2 {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    color: black;
}
table {
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 200px;
    margin-left: 320px;
}
td {
    border: solid 3px;
    width: 18em;
    border-color:brown;
    padding: 30px;
}
.cell1 {
    background-color: blueviolet;
}
qwezxc